h1,
h2,
h3,
h4,
ul,
p {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* container */
.container {
    display: flex;
    flex-direction: row-reverse;
    width: 1240px;

    margin-left: auto;
    margin-right: auto;
}

/* about-user */
.about-user {
    margin-bottom: 40px;
}

.about-user__position {
    font-weight: 700;
    line-height: 17px;

    margin-bottom: 20px;

    color: #000000;
}

.about-user__name {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;

    margin-bottom: 25px;

    color: #000000;
}

/* work */
.work {
    margin-bottom: 45px;
}
.work__title {
    
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    margin-bottom: 10px;

    color: #000000;
}
.work__position {
    
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    margin-bottom: 10px;

    color: #000000;
}

.work__organization {
    
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #FB6D3A;    
}

.work__period {
    font-size: 12px;
    line-height: 15px;

    margin-bottom: 10px;

    color: #A8A8A8;
}

.work__list {
    padding-left: 0;
    margin-left: 15px;
}

.work__item {
    line-height: 24px;
    color: #595959;
}

/* Education */

.education__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    color: #000000;
}
.education__university {
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 10px 0;
    color: #FB6D3A;
    margin-bottom: 10px;
 }

 .education__department {
    
    font-weight: 700;
    
    margin: 0 0 10px 0;
    color: #000000;
    margin-bottom: 10px;
}

     /* Sidebar styles */

.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    margin-right: 88px;
    width: 370px;
    
   
}
.sidebar-box {
    padding: 40px;
}
.address {
    font-style: normal;

    margin-bottom: 44px;
}
.tech-skills,
.soft-skills,
.language-skills,
.other-skills {
    margin-bottom: 44px;
}
.address__title,
.tech-skills__title,
.soft-skills__title,
.language-skills__title,
.other-skills__title {
    
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;

    
    margin-bottom: 8px;

    color: #FFFFFF;
}
.address__list {
    margin-bottom: 8px;
    list-style: none;
}
.address__inner {
    
    font-weight: 700;
    
    line-height: 24px;
    color: #FFFFFF; 
}

.address__link {
    
    
    
    line-height: 24px;
    color: #BCBCCD; 
    opacity: 0.5;
}
.address__link--current {
    text-decoration: none;
}

.address__social {
    color: rgb(51, 26, 192);
}





.tech-skills__list,
.soft-skills__list,
.language-skills__list,
.other-skills__list {
    color: #FFFFFF;  
    padding-left: 17px;
} 
        
.tech-skills__item,
.soft-skills__item,
.language-skills__item,
.other-skills__item
{
    color: #FB6D3A;    
}

.tech-skills-text,
.soft-skills-text, 
.address-text,
.birth-text,
.language-skills-text,
.other-skills-text
{
    color: #FFFFFF;
    
    
    
    line-height: 24px;
}

